target/
build/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.DS_Store
.classpath
.project
.settings
cloudera-framework-repo/**/*SNAPSHOT*/
cloudera-framework-repo/**/maven-metadata-local.xml
cloudera-framework-repo/**/_remote.repositories
cloudera-framework-main/cloudera-framework-main-archetype/src/main/resources/archetype-resources/src/main/java/com/cloudera/example/model/Record.java
