.m2
.ssh
.DS_Store
.classpath
.project
.settings
.idea
*.iml
.pydevproject
.toolchain*
.viminfo
.cache
.local
.conda
.ipython
.bash_history
.oracle_jre_usage
.beeline
.hivehistory
.impalahistory
.python-eggs
.pydevproject
*.pyc
*egg-info
*.pipeout
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
phantomjsdriver.log
/spark-defaults.conf
target
build
dist
nltk_data
cloudera-framework-thirdparty/src/main/repository/**/*SNAPSHOT*/
cloudera-framework-thirdparty/src/main/repository/**/maven-metadata-local.xml
cloudera-framework-thirdparty/src/main/repository/**/_remote.repositories
cloudera-framework-parent/cloudera-framework-example/cloudera-framework-example-1/src/main/java/com/cloudera/framework/example/one/model/Record.java
cloudera-framework-parent/cloudera-framework-example/cloudera-framework-example-3/src/main/scala/com/cloudera/framework/example/three/Model.scala
cloudera-framework-parent/cloudera-framework-example/cloudera-framework-example-3/src/main/script/scala/com/cloudera/framework/example/three/Model.scala
cloudera-framework-parent/cloudera-framework-example/cloudera-framework-example-5/src/main/python/process.py
cloudera-framework-parent/cloudera-framework-example/cloudera-framework-example-5/src/main/python/script_util.py
cloudera-framework-parent/cloudera-framework-example/cloudera-framework-example-5/src/main/script/python/process.py
cloudera-framework-parent/cloudera-framework-example/cloudera-framework-example-5/src/main/script/python/script_util.py
cloudera-framework-parent/cloudera-framework-example/cloudera-framework-example-5/src/main/template/python/script_util.py
