target/
build/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.DS_Store
.classpath
.project
.settings
.idea
*.iml
.pydevproject
.viminfo
.bash_history
.oracle_jre_usage
*.pipeout
cloudera-framework-thirdparty/src/main/repository/**/*SNAPSHOT*/
cloudera-framework-thirdparty/src/main/repository/**/maven-metadata-local.xml
cloudera-framework-thirdparty/src/main/repository/**/_remote.repositories
cloudera-framework-example/cloudera-framework-example-1/src/main/java/com/cloudera/framework/example/one/model/Record.java
cloudera-framework-example/cloudera-framework-example-3/src/main/scala/com/cloudera/framework/example/three/Model.scala
